/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #3f3f3f;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #3f3f3f;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h1 {
  color: #2c3e60;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 48px; } }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.table {
  font-size: 14px;
  line-height: 20px; }
  .table tr th {
    color: #fff;
    padding: 10px 5px;
    font-weight: 700;
    background: #4d7cd3;
    border-right: 1px solid #d2def4; }
    .table tr th:last-child {
      border-right: none; }
  .table tr td {
    color: #34434b;
    padding: 10px 5px;
    border-right: 1px solid #d2def4; }
    .table tr td:last-child {
      border-right: none;
      text-align: center; }
  .table tr:nth-child(even) td {
    background: #e6edf9; }
  .table tr:nth-child(odd) td {
    background: #fff; }
  @media (min-width: 768px) {
    .table {
      font-size: 16px;
      line-height: 24px; }
      .table tr th {
        padding: 10px; }
      .table tr td {
        padding: 15px 10px; }
        .table tr td:first-child {
          padding: 15px 20px; } }
  @media (min-width: 992px) {
    .table {
      font-size: 18px;
      line-height: 30px; }
      .table tr td {
        padding: 20px 10px; }
        .table tr td:first-child {
          padding: 20px 20px; } }

.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 15px;
  text-align: center;
  position: relative;
  background: #3c71d0;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #6992d9 0%, #3c71d0 100%);
  background-image: -o-linear-gradient(top, #6992d9 0%, #3c71d0 100%);
  background-image: linear-gradient(to bottom, #6992d9 0%, #3c71d0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6992D9', endColorstr='#FF3C71D0', GradientType=0); }
  .btn:hover {
    color: #fff;
    background: #6992d9;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, #6992d9 0%, #6992d9 100%);
    background-image: -o-linear-gradient(top, #6992d9 0%, #6992d9 100%);
    background-image: linear-gradient(to bottom, #6992d9 0%, #6992d9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6992D9', endColorstr='#FF6992D9', GradientType=0); }

.form-control {
  margin: 0;
  width: 100%;
  color: #eee;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px;
  display: inline-block;
  background: transparent;
  border: 1px solid #eee; }
  .form-control::-moz-placeholder {
    color: #eee;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #eee; }
  .form-control::-webkit-input-placeholder {
    color: #eee; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 20px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.header {
  padding-top: 10px;
  padding-bottom: 20px;
  background: url("../img/top_bg.jpg") 50% 0 no-repeat; }
  .header .header-logo {
    width: 200px;
    display: block;
    margin: 0 auto 20px auto; }
  .header .header-small-nav {
    padding: 0;
    display: none;
    list-style: none;
    margin: 0 -10px 20px -10px; }
    .header .header-small-nav:before, .header .header-small-nav:after {
      content: " ";
      display: table; }
    .header .header-small-nav:after {
      clear: both; }
    .header .header-small-nav li {
      float: left;
      padding: 0 10px; }
      .header .header-small-nav li a {
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        display: inline-block; }
        .header .header-small-nav li a.lnd-en {
          padding-left: 38px;
          background: url("../img/icon_lng_en.png") 0 50% no-repeat; }
      .header .header-small-nav li:first-child {
        margin-right: 10px; }
        .header .header-small-nav li:first-child a {
          font-size: 24px;
          line-height: 24px; }
  .header .header-tel {
    color: #fff;
    float: right;
    font-size: 24px;
    line-height: 30px;
    display: inline-block; }
    .header .header-tel span {
      font-size: 20px;
      opacity: 0.7;
      filter: alpha(opacity=70); }
  .header .header-nav {
    float: left;
    z-index: 999;
    position: relative; }
    .header .header-nav .navbar-toggle {
      width: 40px;
      font-size: 0;
      line-height: 0;
      padding: 10px 8px;
      display: inline-block;
      border: 1px solid #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      .header .header-nav .navbar-toggle span {
        height: 4px;
        width: 100%;
        background: #fff;
        margin-bottom: 3px;
        display: inline-block; }
        .header .header-nav .navbar-toggle span:last-child {
          margin-bottom: 0; }
      .header .header-nav .navbar-toggle.open {
        background: #fff; }
        .header .header-nav .navbar-toggle.open span {
          background: #1f8ef9; }
    .header .header-nav .nav {
      left: 0;
      top: 100%;
      margin: 10px 0 0 0;
      padding: 5px 10px 0 10px;
      list-style: none;
      display: none;
      position: absolute;
      background: #439bfa;
      border: 1px solid #65b0fb;
      border-bottom: none; }
      .header .header-nav .nav.open {
        display: block; }
      .header .header-nav .nav li {
        border-bottom: 1px solid #65b0fb; }
        .header .header-nav .nav li a {
          color: #fff;
          font-size: 18px;
          line-height: 24px;
          padding: 8px 15px;
          display: inline-block;
          white-space: nowrap;
          text-decoration: none; }
  .header .header-office {
    color: #fff;
    width: 251px;
    height: 152px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 45px;
    background: url("../img/rus_map.png") 50% 50% no-repeat; }
    .header .header-office a {
      color: #fff;
      padding-bottom: 4px;
      display: inline-block;
      border-bottom: 1px solid #fff; }
    .header .header-office span {
      width: 100%;
      font-size: 20px;
      display: inline-block; }
  @media (min-width: 768px) {
    .header {
      height: 500px;
      background-position: 50% 60%;
      background-size: cover; }
      .header .header-logo {
        width: 220px;
        margin: 0 auto; }
      .header .header-small-nav {
        top: 0;
        left: 15px;
        display: block;
        position: absolute; }
      .header .header-nav {
        top: 40px;
        left: 15px;
        float: none;
        position: absolute; }
        .header .header-nav .navbar-toggle {
          display: none; }
        .header .header-nav .nav {
          top: auto;
          left: auto;
          display: block;
          position: relative;
          border: none;
          background: transparent; }
          .header .header-nav .nav li a {
            padding: 8px 0; }
      .header .header-tel {
        top: 10px;
        right: 15px;
        float: none;
        font-size: 30px;
        line-height: 30px;
        position: absolute;
        display: inline-block; }
        .header .header-tel span {
          font-size: 24px;
          opacity: 0.7;
          filter: alpha(opacity=70); }
      .header .header-office {
        top: 50px;
        right: 15px;
        font-size: 30px;
        line-height: 30px;
        position: absolute;
        text-align: right; }
        .header .header-office span {
          font-size: 24px; } }
  @media (min-width: 992px) {
    .header {
      background-position: 50% 60%;
      background-size: auto auto; }
      .header .header-tel {
        top: 10px;
        right: 15px;
        font-size: 40px;
        line-height: 40px; }
        .header .header-tel span {
          font-size: 30px; } }

.footer {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 40px;
  background: url("../img/footer_bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .footer .container {
    padding-top: 165px; }
  .footer .footer-logo {
    top: 20px;
    left: 50%;
    width: 250px;
    position: absolute;
    margin-left: -115px; }
  .footer .footer-title {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .footer .footer-top {
    margin-bottom: 20px; }
    .footer .footer-top:before, .footer .footer-top:after {
      content: " ";
      display: table; }
    .footer .footer-top:after {
      clear: both; }
    .footer .footer-top .footer-social {
      margin-bottom: 15px; }
      .footer .footer-top .footer-social ul {
        padding: 0;
        font-size: 0;
        line-height: 0;
        margin: 0 -10px;
        list-style: none;
        text-align: center; }
        .footer .footer-top .footer-social ul:before, .footer .footer-top .footer-social ul:after {
          content: " ";
          display: table; }
        .footer .footer-top .footer-social ul:after {
          clear: both; }
        .footer .footer-top .footer-social ul li {
          display: inline-block;
          padding: 0 10px; }
          .footer .footer-top .footer-social ul li a {
            color: #fff;
            font-size: 16px;
            line-height: 20px; }
            .footer .footer-top .footer-social ul li a span {
              border-bottom: 1px solid transparent; }
            .footer .footer-top .footer-social ul li a:hover span {
              border-bottom-color: #fff; }
    .footer .footer-top .footer-contact {
      margin-bottom: 20px; }
      .footer .footer-top .footer-contact .footer-contact-top {
        padding: 0;
        list-style: none;
        margin: 0 0 10px 0; }
        .footer .footer-top .footer-contact .footer-contact-top:before, .footer .footer-top .footer-contact .footer-contact-top:after {
          content: " ";
          display: table; }
        .footer .footer-top .footer-contact .footer-contact-top:after {
          clear: both; }
        .footer .footer-top .footer-contact .footer-contact-top li:first-child {
          float: left;
          text-align: left; }
        .footer .footer-top .footer-contact .footer-contact-top li:last-child {
          float: right;
          text-align: right; }
        .footer .footer-top .footer-contact .footer-contact-top li a {
          color: #fff;
          text-decoration: none; }
      .footer .footer-top .footer-contact p {
        margin-bottom: 0;
        text-align: center; }
  .footer .footer-branch {
    margin-bottom: 20px; }
    .footer .footer-branch ul {
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: center;
      margin: 0 -10px 10px -10px; }
      .footer .footer-branch ul li {
        padding: 0 10px;
        display: inline-block;
        margin-bottom: 10px; }
        .footer .footer-branch ul li a {
          color: #fff;
          font-size: 16px;
          line-height: 20px;
          text-decoration: none; }
  .footer .footer-nav {
    margin-bottom: 20px; }
    .footer .footer-nav ul {
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: center;
      margin: 0 -10px; }
      .footer .footer-nav ul li {
        padding: 0 10px;
        display: inline-block;
        margin-bottom: 10px; }
        .footer .footer-nav ul li a {
          color: #fff;
          font-size: 16px;
          line-height: 20px;
          text-decoration: none; }
  .footer .footer-bottom {
    text-align: center; }
  @media (min-width: 768px) {
    .footer .footer-top .footer-social {
      float: left;
      text-align: left;
      margin-bottom: 0; }
    .footer .footer-top .footer-contact {
      float: right;
      width: 320px;
      text-align: left;
      margin-bottom: 0; }
      .footer .footer-top .footer-contact p {
        text-align: left; }
    .footer .footer-branch ul {
      margin: 0 -15px; }
      .footer .footer-branch ul li {
        padding: 0 15px; }
        .footer .footer-branch ul li a {
          font-size: 16px;
          line-height: 20px; } }
  @media (min-width: 992px) {
    .footer {
      font-size: 18px;
      line-height: 24px; }
      .footer .footer-top .footer-contact {
        width: 370px; }
      .footer .footer-branch ul li a {
        font-size: 18px;
        line-height: 24px; }
      .footer .footer-nav ul li a {
        font-size: 18px;
        line-height: 24px; } }

.main {
  padding-top: 30px;
  padding-bottom: 140px;
  background: #fff url("../img/sky_bottom.jpg") 50% 100% no-repeat; }
  @media (min-width: 768px) {
    .main {
      padding-top: 0;
      padding-bottom: 150px; } }

.h1 {
  color: #162a76;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  font-style: italic;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .h1 {
      font-size: 40px; } }

.programs-block {
  padding-top: 30px;
  padding-bottom: 120px;
  background: url("../img/sky_bottom.jpg") 50% 100% no-repeat; }
  @media (min-width: 768px) {
    .programs-block {
      padding-top: 0; } }

.program-item {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px; }
  .program-item .program-image {
    display: block;
    margin-bottom: 10px; }
  .program-item h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    background: #4d7dd2; }
    .program-item h4 a {
      width: 100%;
      height: 60px;
      color: #fff;
      padding: 0 10px;
      text-decoration: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .program-item h4 a span {
        margin: auto;
        display: inline-block; }
  .program-item .program-text {
    overflow: hidden;
    margin-bottom: 10px; }
    .program-item .program-text strong {
      font-weight: 700; }
    .program-item .program-text p {
      margin-bottom: 10px; }
      .program-item .program-text p:last-child {
        margin-bottom: 0; }
  .program-item .program-bottom {
    padding-top: 10px;
    position: relative; }
    .program-item .program-bottom:before {
      top: 0;
      left: 0;
      height: 1px;
      content: '';
      width: 165px;
      position: absolute;
      background: #e0e0e0; }
    .program-item .program-bottom a {
      color: #637ea4;
      font-weight: 600;
      border-bottom: 1px solid #637ea4; }
  @media (min-width: 768px) {
    .program-item .program-text {
      height: 180px; } }
  @media (min-width: 992px) {
    .program-item .program-text {
      height: 220px; } }
  @media (min-width: 1200px) {
    .program-item .program-text {
      height: 180px; } }

.blue-block {
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  background: #73a2f8; }
  .blue-block .video-block {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 30px; }

.white-block {
  padding: 50px 0 60px 0;
  background: #fff; }

.training-set {
  text-align: center; }
  .training-set .training-title {
    color: #5f7090;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 35px; }
  .training-set .training-info {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 15px; }
    .training-set .training-info p {
      margin-bottom: 5px; }
      .training-set .training-info p span {
        color: #f36c32; }
  .training-set .training-link {
    color: #335eaa;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #335eaa; }
    .training-set .training-link:hover {
      border-bottom-color: transparent; }
  @media (min-width: 768px) {
    .training-set .training-title {
      font-size: 44px; }
    .training-set .training-info {
      font-size: 30px; }
    .training-set .training-link {
      font-size: 30px; } }

.promo-block {
  color: #fff;
  padding: 60px 0;
  background: url("../img/about_bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .promo-block .h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px; }
  .promo-block ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .promo-block ul li {
      font-size: 20px;
      position: relative;
      padding: 10px 0 10px 28px;
      border-bottom: 1px solid #87b0f0; }
      .promo-block ul li:before {
        left: 0;
        top: 20px;
        content: '';
        width: 12px;
        height: 12px;
        background: #fff;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
  @media (min-width: 768px) {
    .promo-block .h2 {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .promo-block ul li {
      font-size: 24px; } }

.review-block {
  padding-top: 40px;
  padding-bottom: 120px;
  background: #fff url("../img/sky_bottom.jpg") 50% 100% no-repeat; }
  .review-block .h2 {
    color: #5f7090;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px; }
  @media (min-width: 768px) {
    .review-block .h2 {
      font-size: 40px; } }

.review {
  padding: 0;
  list-style: none;
  margin: 0 0 40px 0; }
  .review > li {
    padding: 20px 15px;
    margin-bottom: 40px;
    border: 1px solid #3778e2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px; }
  .review .review-image {
    width: 180px;
    margin: 0 auto 20px auto; }
    .review .review-image:before, .review .review-image:after {
      content: " ";
      display: table; }
    .review .review-image:after {
      clear: both; }
  .review .review-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center; }
    .review .review-text .review-author {
      margin-bottom: 15px; }
      .review .review-text .review-author strong {
        font-weight: 400;
        display: block;
        font-size: 24px; }
      .review .review-text .review-author span {
        font-size: 18px;
        color: #f36c32; }
  @media (min-width: 768px) {
    .review > li {
      padding: 20px 40px; }
    .review .review-image {
      float: left;
      width: 180px;
      margin: 0; }
    .review .review-text {
      font-size: 22px;
      line-height: 30px;
      margin-left: 220px;
      text-align: left; }
      .review .review-text .review-author {
        font-size: 22px;
        line-height: 30px; }
        .review .review-text .review-author strong {
          display: inline;
          font-size: 30px;
          line-height: 30px; }
        .review .review-text .review-author span {
          font-size: 22px;
          line-height: 30px; } }

.partners-block {
  padding: 40px 0 30px 0; }
  .partners-block .h2 {
    color: #5f7090;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px; }
  .partners-block .partners {
    padding: 0 15px;
    position: relative; }
    .partners-block .partners .partners-item {
      border: none;
      outline: none;
      text-align: center; }
      .partners-block .partners .partners-item img {
        display: inline-block;
        max-width: 100%;
        height: auto; }
    .partners-block .partners .slide-nav {
      top: 50%;
      color: #555;
      margin-top: -16px;
      cursor: pointer;
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      display: inline-block; }
      .partners-block .partners .slide-nav.prev {
        left: 0; }
      .partners-block .partners .slide-nav.next {
        right: 0; }
  @media (min-width: 768px) {
    .partners-block .h2 {
      font-size: 40px; } }

.news-list {
  padding-bottom: 20px; }

.news {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb; }
  .news:before, .news:after {
    content: " ";
    display: table; }
  .news:after {
    clear: both; }
  .news .news-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px; }
    .news .news-title:before {
      left: 0;
      bottom: 0;
      content: '';
      width: 250px;
      position: absolute;
      border-bottom: 1px solid #dbd5f5; }
    .news .news-title a {
      color: #3d3d3e;
      text-decoration: none; }
      .news .news-title a span {
        color: #1f51b8;
        margin-right: 15px; }
  .news .news-intro:before, .news .news-intro:after {
    content: " ";
    display: table; }
  .news .news-intro:after {
    clear: both; }
  .news .news-intro .news-intro-image {
    margin-bottom: 15px; }
    .news .news-intro .news-intro-image a {
      display: block; }
  .news .news-intro .news-introtext {
    color: #6d6d6d;
    font-size: 16px;
    line-height: 26px; }
  @media (min-width: 768px) {
    .news .news-title {
      font-size: 24px; }
    .news .news-intro .news-intro-image {
      width: 250px;
      float: left;
      margin-bottom: 0; }
    .news .news-intro .news-introtext {
      font-size: 18px;
      line-height: 30px;
      margin-left: 265px; } }
  @media (min-width: 992px) {
    .news .news-title {
      font-size: 30px; }
      .news .news-title:before {
        width: 360px; }
    .news .news-intro .news-intro-image {
      width: 360px; }
    .news .news-intro .news-introtext {
      margin-left: 375px; } }

.pagination {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -5px;
  list-style: none;
  text-align: center; }
  .pagination li {
    padding: 0 5px;
    display: inline-block; }
    .pagination li a {
      width: 24px;
      height: 24px;
      color: #7e7e7e;
      padding: 2px 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      background: transparent;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .pagination li.active a {
      color: #fff;
      background: #4d7dd2; }
    .pagination li span {
      height: 24px;
      color: #7e7e7e;
      padding: 2px 0;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      background: transparent; }

.topnav {
  padding-bottom: 20px;
  margin-bottom: 30px;
  background: url("../img/divider.png") 50% 100% no-repeat; }
  .topnav ul {
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 -15px;
    list-style: none;
    text-align: center; }
    .topnav ul:before, .topnav ul:after {
      content: " ";
      display: table; }
    .topnav ul:after {
      clear: both; }
    .topnav ul li {
      padding: 0 15px;
      display: inline-block; }
      .topnav ul li a {
        padding: 5px 0;
        color: #18598b;
        font-size: 16px;
        line-height: 20px;
        display: inline-block;
        text-decoration: none; }
        .topnav ul li a:hover {
          color: #ec6b0d; }
      .topnav ul li.active a {
        color: #ec6b0d; }
  @media (min-width: 992px) {
    .topnav ul li a {
      font-size: 22px;
      line-height: 28px; } }

.content {
  font-size: 16px;
  line-height: 28px; }
  .content h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline; }
  .content p {
    margin-bottom: 20px; }
  .content ul {
    margin-bottom: 20px; }
  .content img {
    display: inline-block;
    max-width: 100%;
    height: auto; }
  @media (min-width: 768px) {
    .content {
      text-align: justify;
      font-size: 18px;
      line-height: 30px; } }

.contact {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -15px;
  list-style: none;
  text-align: center; }
  .contact li {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 40px;
    display: inline-block; }
  .contact .contact-item .contact-heading {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding: 7px 10px;
    text-align: center;
    background: #4d7cd3;
    text-transform: uppercase; }
  .contact .contact-item .contact-body {
    color: #373737;
    font-size: 16px;
    overflow: hidden;
    line-height: 22px;
    padding-top: 10px; }
    .contact .contact-item .contact-body p {
      margin-bottom: 5px; }
      .contact .contact-item .contact-body p:last-child {
        margin-bottom: 0; }
    .contact .contact-item .contact-body a {
      color: #373737;
      text-decoration: none; }
  .contact .contact-item .contact-bottom {
    padding-top: 10px; }
    .contact .contact-item .contact-bottom a {
      color: #e16d26;
      font-size: 18px;
      line-height: 20px;
      border-bottom: 1px solid #e16d26; }
  @media (min-width: 768px) {
    .contact li {
      width: 50%; }
    .contact .contact-item .contact-body {
      height: 110px; } }
  @media (min-width: 992px) {
    .contact li {
      width: 33.33%; } }
  @media (min-width: 1200px) {
    .contact li {
      padding: 0 20px; } }

.docs {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  list-style: none; }
  .docs li {
    width: 100%;
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #b9b9b9; }
    .docs li a {
      color: #36383d;
      position: relative;
      display: inline-block;
      padding: 15px 0 15px 60px; }
      .docs li a:after, .docs li a:before {
        left: 0;
        top: 50%;
        z-index: 10;
        content: '';
        width: 44px;
        height: 40px;
        margin-top: -20px;
        position: absolute; }
      .docs li a:after {
        display: inline-block;
        background: url("../img/icon_pdf_base.png") 50% 50% no-repeat;
        background-size: cover; }
      .docs li a:before {
        display: none;
        background: url("../img/icon_pdf_hover.png") 50% 50% no-repeat;
        background-size: cover; }
      .docs li a:hover {
        color: #e3721e;
        text-decoration: underline; }
        .docs li a:hover:after {
          display: none; }
        .docs li a:hover:before {
          display: inline-block; }
  @media (min-width: 768px) {
    .docs {
      font-size: 18px;
      line-height: 26px; } }
  @media (min-width: 992px) {
    .docs {
      font-size: 20px;
      line-height: 28px; } }

.trainer {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -15px;
  list-style: none;
  text-align: center; }
  .trainer > li {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
    display: inline-block; }
  .trainer .trainer-item {
    padding: 5px;
    color: #7b7f8c;
    display: block;
    background: #fff;
    text-decoration: none;
    border: 1px solid #d7d7d7; }
    .trainer .trainer-item:hover {
      color: #fff;
      background: #4d7cd3;
      border-color: #4d7cd3; }
    .trainer .trainer-item .trainer-name {
      width: 100%;
      height: 50px;
      font-size: 20px;
      line-height: 22px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .trainer .trainer-item .trainer-name span {
        margin: auto;
        display: inline-block; }
  @media (min-width: 768px) {
    .trainer > li {
      width: 50%; } }
  @media (min-width: 992px) {
    .trainer > li {
      width: 33.33%; } }

.trainer-gallery {
  padding: 0;
  margin: 0 -15px;
  list-style: none; }
  .trainer-gallery:before, .trainer-gallery:after {
    content: " ";
    display: table; }
  .trainer-gallery:after {
    clear: both; }
  .trainer-gallery > li {
    width: 100%;
    float: left;
    padding: 0 15px;
    margin-bottom: 30px; }
    .trainer-gallery > li a {
      display: block;
      border: 1px solid #c0c0c0; }
  @media (min-width: 768px) {
    .trainer-gallery > li {
      width: 50%; } }
  @media (min-width: 992px) {
    .trainer-gallery > li {
      width: 33.33%; } }

.link-back {
  color: #393939;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: inline-block; }
  .link-back:hover {
    color: #ff6c00;
    border-bottom-color: #ff6c00; }
  .link-back i {
    margin-right: 8px; }
  .link-back span {
    border-bottom: 1px solid transparent; }

.gallery-nav {
  margin-bottom: 30px; }
  .gallery-nav .gallery-nav-heading {
    margin-bottom: 15px; }
    .gallery-nav .gallery-nav-heading:before, .gallery-nav .gallery-nav-heading:after {
      content: " ";
      display: table; }
    .gallery-nav .gallery-nav-heading:after {
      clear: both; }
    .gallery-nav .gallery-nav-heading .gallery-toggle {
      width: 40px;
      font-size: 0;
      line-height: 0;
      float: left;
      margin-right: 10px;
      padding: 10px 8px;
      display: inline-block;
      border: 1px solid #3f3f3f;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      .gallery-nav .gallery-nav-heading .gallery-toggle span {
        height: 4px;
        width: 100%;
        background: #3f3f3f;
        margin-bottom: 3px;
        display: inline-block; }
        .gallery-nav .gallery-nav-heading .gallery-toggle span:last-child {
          margin-bottom: 0; }
      .gallery-nav .gallery-nav-heading .gallery-toggle.open {
        background: #3f3f3f; }
        .gallery-nav .gallery-nav-heading .gallery-toggle.open span {
          background: #fff; }
    .gallery-nav .gallery-nav-heading .navbar-title {
      float: left;
      padding: 5px 0;
      font-size: 24px;
      line-height: 30px;
      display: inline-block; }
  .gallery-nav .gallery-menu {
    margin: 0;
    padding: 0;
    display: none;
    font-size: 16px;
    line-height: 22px;
    list-style: none; }
    .gallery-nav .gallery-menu.open {
      display: block; }
    .gallery-nav .gallery-menu > li > a {
      width: 100%;
      padding: 10px;
      color: #3c3a3a;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid #c8c8c8; }
      .gallery-nav .gallery-menu > li > a:hover {
        color: #ff6c00; }
    .gallery-nav .gallery-menu > li:first-child > a {
      border-top: 1px solid #c8c8c8; }
    .gallery-nav .gallery-menu > li.active > a {
      color: #ff6c00; }
    .gallery-nav .gallery-menu > li > ul {
      margin: 0;
      padding: 0 0 0 25px;
      list-style: none; }
      .gallery-nav .gallery-menu > li > ul > li > a {
        width: 100%;
        color: #3c3a3a;
        padding: 10px 5px;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid #c8c8c8; }
        .gallery-nav .gallery-menu > li > ul > li > a:hover {
          color: #ff6c00; }
      .gallery-nav .gallery-menu > li > ul > li.active > a {
        color: #ff6c00; }
  @media (min-width: 992px) {
    .gallery-nav .gallery-nav-heading {
      display: none; }
    .gallery-nav .gallery-menu {
      display: block; } }

.gallery {
  margin: 0 -15px; }
  .gallery:before, .gallery:after {
    content: " ";
    display: table; }
  .gallery:after {
    clear: both; }
  .gallery .gallery-item {
    float: left;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px; }
    .gallery .gallery-item a {
      height: auto;
      display: block; }
      .gallery .gallery-item a img {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: inline-block; }
  @media (min-width: 768px) {
    .gallery .gallery-item {
      width: 33.33%; }
      .gallery .gallery-item a {
        height: 115px;
        display: block;
        border: 1px solid #c8c8c8; }
        .gallery .gallery-item a img {
          width: auto;
          height: 100%;
          max-height: 100%;
          max-width: inherit; } }
  @media (min-width: 992px) {
    .gallery .gallery-item {
      width: 33.33%; } }
  @media (min-width: 1200px) {
    .gallery .gallery-item {
      width: 25%; } }

.teachers {
  padding: 0;
  font-size: 0;
  margin: 0 auto;
  line-height: 0;
  max-width: 360px;
  list-style: none;
  text-align: center; }
  .teachers > li {
    margin-bottom: 30px; }
    .teachers > li .teachers-item {
      display: block;
      border: 1px solid #eee; }
      .teachers > li .teachers-item:hover {
        border-color: #ddd; }
    .teachers > li .teachers-image {
      display: block; }
    .teachers > li .teachers-name {
      width: 100%;
      height: 66px;
      color: #335eaa;
      font-size: 14px;
      padding: 0 10px;
      line-height: 20px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      background: #f5f5f5; }
      .teachers > li .teachers-name span {
        margin: auto;
        display: inline-block; }
  @media (min-width: 768px) {
    .teachers {
      max-width: inherit;
      margin: 0 -15px; }
      .teachers > li {
        width: 50%;
        float: left;
        padding: 0 15px; } }
  @media (min-width: 992px) {
    .teachers > li {
      width: 33.33%; } }
  @media (min-width: 1200px) {
    .teachers > li {
      width: 25%; } }

/*# sourceMappingURL=main.css.map */
