.main {
	padding-top: 30px;
	padding-bottom: 140px;
	background: #fff url("../img/sky_bottom.jpg") 50% 100% no-repeat;

	@media (min-width: $screen-sm-min) {
		padding-top: 0;
		padding-bottom: 150px;
	}
}


.h1 {
	color: #162a76;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.1;
	text-align: center;
	font-style: italic;
	margin-bottom: 25px;

	@media (min-width: $screen-sm-min) {
		font-size: 40px;
	}

	@media (min-width: $screen-md-min) {

	}
}

.programs-block {
	padding-top: 30px;
	padding-bottom: 120px;
	background: url("../img/sky_bottom.jpg") 50% 100% no-repeat;



	@media (min-width: $screen-sm-min) {
		padding-top: 0;

	}
}

.program-item {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 40px;

	.program-image {
		display: block;
		margin-bottom: 10px;
	}

	h4 {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		margin-bottom: 15px;
		background: #4d7dd2;

		a {
			width: 100%;
			height: 60px;
			color: #fff;
			padding: 0 10px;
			text-decoration: none;
			@include flexbox();

			span {
				margin: auto;
				display: inline-block;
			}
		}
	}

	.program-text {

		overflow: hidden;
		margin-bottom: 10px;

		strong {
			font-weight: 700;
		}

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.program-bottom {
		padding-top: 10px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			height: 1px;
			content: '';
			width: 165px;
			position: absolute;
			background: #e0e0e0;
		}

		a {
			color: #637ea4;
			font-weight: 600;
			border-bottom: 1px solid #637ea4;
		}
	}

	@media (min-width: $screen-sm-min) {

		.program-text {
			height: 180px;
		}
	}

	@media (min-width: $screen-md-min) {

		.program-text {
			height: 220px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.program-text {
			height: 180px;
		}
	}
}

.blue-block {
	color: #fff;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 40px;
	background: #73a2f8;

	.video-block {
		margin: 0 auto;
		max-width: 700px;
		padding-top: 30px;
	}
}

.white-block {
	padding: 50px 0 60px 0;
	background: #fff;
}

.training-set {
	text-align: center;

	.training-title {
		color: #5f7090;
		font-size: 40px;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 35px;
	}

	.training-info {
		font-size: 20px;
		padding-top: 40px;
		padding-bottom: 15px;

		p {
			margin-bottom: 5px;

			span {
				color: #f36c32;
			}
		}
	}

	.training-link {
		color: #335eaa;
		font-size: 22px;
		font-weight: 600;
		line-height: 1.1;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid #335eaa;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $screen-sm-min) {

		.training-title {
			font-size: 44px;
		}

		.training-info {
			font-size: 30px;
		}

		.training-link {
			font-size: 30px;
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.promo-block {
	color: #fff;
	padding: 60px 0;
	background: url("../img/about_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	.h2 {
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 40px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: 20px;
			position: relative;
			padding: 10px 0 10px 28px;
			border-bottom: 1px solid #87b0f0;

			&:before {
				left: 0;
				top: 20px;
				content: '';
				width: 12px;
				height: 12px;
				background: #fff;
				position: absolute;
				@include border-radius(50%);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.h2 {
			font-size: 40px;
		}

	}

	@media (min-width: $screen-md-min) {

		ul {

			li {
				font-size: 24px;
			}

		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.review-block {
	padding-top: 40px;
	padding-bottom: 120px;
	background: #fff url("../img/sky_bottom.jpg") 50% 100% no-repeat;

	.h2 {
		color: #5f7090;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 40px;
	}

	@media (min-width: $screen-sm-min) {

		.h2 {
			font-size: 40px;
		}

	}
}

.review {
	padding: 0;
	list-style: none;
	margin: 0 0 40px 0;

	> li {
		padding: 20px 15px;
		margin-bottom: 40px;
		border: 1px solid #3778e2;
		@include border-radius(8px);
	}

	.review-image {
		width: 180px;
		margin: 0 auto 20px auto;
		@include clearfix();
	}

	.review-text {
		font-size: 16px;
		line-height: 28px;
		text-align: center;

		.review-author {
			margin-bottom: 15px;

			strong {
				font-weight: 400;
				display: block;
				font-size: 24px;
			}

			span {
				font-size: 18px;
				color: #f36c32;
			}
		}

		p {

		}
	}


	@media (min-width: $screen-sm-min) {

		> li {
			padding: 20px 40px;
		}

		.review-image {
			float: left;
			width: 180px;
			margin: 0;
		}

		.review-text {
			font-size: 22px;
			line-height: 30px;
			margin-left: 220px;
			text-align: left;

			.review-author {
				font-size: 22px;
				line-height: 30px;

				strong {
					display: inline;
					font-size: 30px;
					line-height: 30px;
				}

				span {
					font-size: 22px;
					line-height: 30px;
				}
			}
		}
	}
}


.partners-block {
	padding: 40px 0 30px 0;

	.h2 {
		color: #5f7090;
		font-size: 30px;
		font-weight: 400;
		line-height: 1.1;
		text-align: center;
		margin-bottom: 40px;
	}

	.partners {
		padding: 0 15px;
		position: relative;

		.partners-item {
			border: none;
			outline: none;
			text-align: center;

			img {
				@include img-responsive(inline-block);
			}
		}

		.slide-nav {
			top: 50%;
			color: #555;
			margin-top: -16px;
			cursor: pointer;
			font-size: 30px;
			line-height: 30px;
			position: absolute;
			display: inline-block;

			&.prev {
				left: 0;
			}

			&.next {
				right: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.h2 {
			font-size: 40px;
		}

	}
}

// News


.news-list {
	padding-bottom: 20px;
}

.news {
	@include clearfix();
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dbdbdb;

	.news-title {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.1;
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 15px;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 250px;
			position: absolute;
			border-bottom: 1px solid #dbd5f5;
		}

		a {
			color: #3d3d3e;
			text-decoration: none;

			span {
				color: #1f51b8;
				margin-right: 15px;
			}
		}
	}

	.news-intro {
		@include clearfix();

		.news-intro-image {
			margin-bottom: 15px;

			a {
				display: block;
			}
		}

		.news-introtext {
			color: #6d6d6d;
			font-size: 16px;
			line-height: 26px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.news-title {
			font-size: 24px;
		}

		.news-intro {

			.news-intro-image {
				width: 250px;
				float: left;
				margin-bottom: 0;
			}

			.news-introtext {
				font-size: 18px;
				line-height: 30px;
				margin-left: 265px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		.news-title {
			font-size: 30px;

			&:before {
				width: 360px;
			}
		}

		.news-intro {

			.news-intro-image {
				width: 360px;
			}

			.news-introtext {
				margin-left: 375px;
			}
		}
	}
}

.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	list-style: none;
	text-align: center;

	li {
		padding: 0 5px;
		display: inline-block;

		a {
			width: 24px;
			height: 24px;
			color: #7e7e7e;
			padding: 2px 0;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			background: transparent;
			@include border-radius(3px);
		}

		&.active {

			a {
				color: #fff;
				background: #4d7dd2;
			}
		}

		span {
			height: 24px;
			color: #7e7e7e;
			padding: 2px 0;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			background: transparent;
		}
	}
}

.topnav {
	padding-bottom: 20px;
	margin-bottom: 30px;
	background: url("../img/divider.png") 50% 100% no-repeat;

	ul {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -15px;
		list-style: none;
		@include clearfix();
		text-align: center;

		li {
			padding: 0 15px;
			display: inline-block;

			a {
				padding: 5px 0;
				color: #18598b;
				font-size: 16px;
				line-height: 20px;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #ec6b0d;
				}
			}

			&.active {

				a {
					color: #ec6b0d;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {


	}

	@media (min-width: $screen-md-min) {

		ul {

			li {

				a {
					font-size: 22px;
					line-height: 28px;
				}
			}
		}
	}
}

.content {
	font-size: 16px;
	line-height: 28px;

	h2 {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 40px;
		text-decoration: underline;
	}

	p {
		margin-bottom: 20px;
	}

	ul {
		margin-bottom: 20px;
	}

	img {
		@include img-responsive(inline-block);
	}

	@media (min-width: $screen-sm-min) {
		text-align: justify;

		font-size: 18px;
		line-height: 30px;
	}
}

// Контакты

.contact {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -15px;
	list-style: none;
	text-align: center;

	li {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 40px;
		display: inline-block;
	}


	.contact-item {

		.contact-heading {
			color: #fff;
			font-size: 20px;
			line-height: 30px;
			padding: 7px 10px;
			text-align: center;
			background: #4d7cd3;
			text-transform: uppercase;
		}

		.contact-body {
			color: #373737;
			font-size: 16px;
			overflow: hidden;
			line-height: 22px;
			padding-top: 10px;

			p {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				color: #373737;
				text-decoration: none;
			}
		}

		.contact-bottom {
			padding-top: 10px;

			a {
				color: #e16d26;
				font-size: 18px;
				line-height: 20px;
				border-bottom: 1px solid #e16d26;

			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			width: 50%;
		}

		.contact-item {

			.contact-body {
				height: 110px;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			padding: 0 20px;
		}
	}
}

// Документы

.docs {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	list-style: none;

	li {
		width: 100%;
		padding: 5px 0;
		position: relative;
		border-bottom: 1px solid #b9b9b9;


		a {
			color: #36383d;
			position: relative;
			display: inline-block;
			padding: 15px 0 15px 60px;

			&:after,
			&:before {
				left: 0;
				top: 50%;
				z-index: 10;
				content: '';
				width: 44px;
				height: 40px;
				margin-top: -20px;
				position: absolute;
			}

			&:after {
				display: inline-block;
				background: url("../img/icon_pdf_base.png") 50% 50% no-repeat;
				background-size: cover;
			}

			&:before {
				display: none;
				background: url("../img/icon_pdf_hover.png") 50% 50% no-repeat;
				background-size: cover;
			}

			&:hover {
				color: #e3721e;
				text-decoration: underline;

				&:after {
					display: none;
				}

				&:before {
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		line-height: 26px;
	}


	@media (min-width: $screen-md-min) {
		font-size: 20px;
		line-height: 28px;
	}
}


// Тренажеры

.trainer {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -15px;
	list-style: none;
	text-align: center;

	> li {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
		display: inline-block;
	}

	.trainer-item {
		padding: 5px;
		color: #7b7f8c;
		display: block;
		background: #fff;
		text-decoration: none;
		border: 1px solid #d7d7d7;

		&:hover {
			color: #fff;
			background: #4d7cd3;
			border-color: #4d7cd3;
		}


		.trainer-image {

		}

		.trainer-name {
			width: 100%;
			height: 50px;
			font-size: 20px;
			line-height: 22px;
			@include flexbox();

			span {
				margin: auto;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}
}


.trainer-gallery {
	padding: 0;
	margin: 0 -15px;
	list-style: none;
	@include clearfix();

	> li {
		width: 100%;
		float: left;
		padding: 0 15px;
		margin-bottom: 30px;

		a {
			display: block;
			border: 1px solid #c0c0c0;
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}
}

.link-back {
	color: #393939;
	font-size: 18px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;

	&:hover {
		color: #ff6c00;
		border-bottom-color: #ff6c00;
	}

	i {
		margin-right: 8px;
	}

	span {
		border-bottom: 1px solid transparent;
	}
}

// Галерея

.gallery-nav {
	margin-bottom: 30px;

	.gallery-nav-heading {
		@include clearfix();
		margin-bottom: 15px;

		.gallery-toggle {
			width: 40px;
			font-size: 0;
			line-height: 0;
			float: left;
			margin-right: 10px;
			padding: 10px 8px;
			display: inline-block;
			border: 1px solid #3f3f3f;
			@include border-radius(3px);

			span {
				height: 4px;
				width: 100%;
				background: #3f3f3f;
				margin-bottom: 3px;
				display: inline-block;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&.open {
				background: #3f3f3f;

				span {
					background: #fff;
				}
			}
		}

		.navbar-title {
			float: left;
			padding: 5px 0;
			font-size: 24px;
			line-height: 30px;
			display: inline-block;
		}
	}

	.gallery-menu {
		margin: 0;
		padding: 0;
		display: none;
		font-size: 16px;
		line-height: 22px;
		list-style: none;

		&.open {
			display: block;
		}

		> li {

			> a {
				width: 100%;
				padding: 10px;
				color: #3c3a3a;
				display: inline-block;
				text-decoration: none;
				border-bottom: 1px solid #c8c8c8;

				&:hover {
					color: #ff6c00;
				}
			}

			&:first-child {

				> a {
					border-top: 1px solid #c8c8c8;
				}
			}

			&.active {

				> a {
					color: #ff6c00;
				}
			}

			> ul {
				margin: 0;
				padding: 0 0 0 25px;
				list-style: none;

				> li {

					> a {
						width: 100%;
						color: #3c3a3a;
						padding: 10px 5px;
						display: inline-block;
						text-decoration: none;
						border-bottom: 1px solid #c8c8c8;

						&:hover {
							color: #ff6c00;
						}
					}

					&.active {

						> a {
							color: #ff6c00;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.gallery-nav-heading {
			display: none;
		}

		.gallery-menu {
			display: block;
		}
	}
}

.gallery {
	margin: 0 -15px;
	@include clearfix();

	.gallery-item {
		float: left;
		width: 100%;
		padding: 0 15px;
		text-align: center;
		margin-bottom: 30px;

		a {
			height: auto;
			display: block;

			img {
				width: 100%;
				height: auto;
				max-width: 100%;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.gallery-item {
			width: 33.33%;

			a {
				height: 115px;
				display: block;
				border: 1px solid #c8c8c8;

				img {
					width: auto;
					height: 100%;
					max-height: 100%;
					max-width: inherit;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		.gallery-item {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		.gallery-item {
			width: 25%;
		}
	}
}


.teachers {
	padding: 0;
	font-size: 0;
	margin: 0 auto;
	line-height: 0;
	max-width: 360px;
	list-style: none;
	text-align: center;

	> li {
		margin-bottom: 30px;

		.teachers-item {
			display: block;
			border: 1px solid #eee;

			&:hover {
				border-color: #ddd;
			}
		}

		.teachers-image {
			display: block;
		}

		.teachers-name {
			width: 100%;
			height: 66px;
			color: #335eaa;
			font-size: 14px;
			padding: 0 10px;
			line-height: 20px;
			text-align: center;
			@include flexbox();
			background: #f5f5f5;

			span {
				margin: auto;
				display: inline-block;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		max-width: inherit;
		margin: 0 -15px;

		> li {
			width: 50%;
			float: left;
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;
		}
	}
}