.footer {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 40px;
	background: url("../img/footer_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	.container {
		padding-top: 165px;
	}

	.footer-logo {
		top: 20px;
		left: 50%;
		width: 250px;
		position: absolute;
		margin-left: -115px;
	}


	.footer-title {
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.footer-top {
		margin-bottom: 20px;
		@include clearfix();

		.footer-social {
			margin-bottom: 15px;

			ul {
				padding: 0;
				font-size: 0;
				line-height: 0;
				margin: 0 -10px;
				list-style: none;
				text-align: center;
				@include clearfix();

				li {
					display: inline-block;
					padding: 0 10px;

					a {
						color: #fff;
						font-size: 16px;
						line-height: 20px;

						span {
							border-bottom: 1px solid transparent;
						}

						&:hover {

							span {
								border-bottom-color: #fff;
							}
						}
					}
				}
			}
		}

		.footer-contact {
			margin-bottom: 20px;

			.footer-contact-top {
				padding: 0;
				list-style: none;
				margin: 0 0 10px 0;
				@include clearfix();

				li {

					&:first-child {
						float: left;
						text-align: left;
					}

					&:last-child {
						float: right;
						text-align: right;
					}

					a {
						color: #fff;
						text-decoration: none;
					}
				}
			}

			p {
				margin-bottom: 0;
				text-align: center;
			}
		}
	}

	.footer-branch {
		margin-bottom: 20px;


		ul {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;
			margin: 0 -10px 10px -10px;

			li {
				padding: 0 10px;
				display: inline-block;
				margin-bottom: 10px;

				a {
					color: #fff;
					font-size: 16px;
					line-height: 20px;
					text-decoration: none;
				}
			}
		}
	}

	.footer-nav {
		margin-bottom: 20px;

		ul {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;
			margin: 0 -10px;

			li {
				padding: 0 10px;
				display: inline-block;
				margin-bottom: 10px;

				a {
					color: #fff;
					font-size: 16px;
					line-height: 20px;
					text-decoration: none;
				}
			}
		}
	}


	.footer-bottom {
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		.footer-top {

			.footer-social {
				float: left;
				text-align: left;
				margin-bottom: 0;
			}

			.footer-contact {
				float: right;
				width: 320px;
				text-align: left;
				margin-bottom: 0;

				p {
					text-align: left;
				}
			}
		}

		.footer-branch {

			ul {
				margin: 0 -15px;

				li {
					padding: 0 15px;

					a {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 18px;
		line-height: 24px;

		.footer-top {

			.footer-contact {
				width: 370px;
			}
		}

		.footer-branch {

			ul {

				li {

					a {
						font-size: 18px;
						line-height: 24px;
					}
				}
			}
		}

		.footer-nav {

			ul {

				li {

					a {
						font-size: 18px;
						line-height: 24px;
					}
				}
			}
		}
	}
}