.header {
	padding-top: 10px;
	padding-bottom: 20px;
	background: url("../img/top_bg.jpg") 50% 0 no-repeat;

	.header-logo {
		width: 200px;
		display: block;
		margin: 0 auto 20px auto;
	}

	.header-small-nav {
		padding: 0;
		display: none;
		list-style: none;
		@include clearfix();
		margin: 0 -10px 20px -10px;

		li {
			float: left;
			padding: 0 10px;

			a {
				color: #fff;
				font-size: 20px;
				line-height: 24px;
				display: inline-block;

				&.lnd-en {
					padding-left: 38px;
					background: url("../img/icon_lng_en.png") 0 50% no-repeat;
				}
			}

			&:first-child {
				margin-right: 10px;

				a {
					font-size: 24px;
					line-height: 24px;
				}
			}
		}
	}


	.header-tel {
		color: #fff;
		float: right;
		font-size: 24px;
		line-height: 30px;
		display: inline-block;

		span {
			font-size: 20px;
			@include opacity(0.7);
		}
	}

	.header-nav {
		float: left;
		z-index: 999;
		position: relative;

		.navbar-toggle {
			width: 40px;
			font-size: 0;
			line-height: 0;
			padding: 10px 8px;
			display: inline-block;
			border: 1px solid #fff;
			@include border-radius(3px);

			span {
				height: 4px;
				width: 100%;
				background: #fff;
				margin-bottom: 3px;
				display: inline-block;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&.open {
				background: #fff;

				span {
					background: #1f8ef9;
				}
			}
		}

		.nav {
			left: 0;
			top: 100%;
			margin: 10px 0 0 0;
			padding: 5px 10px 0 10px;
			list-style: none;
			display: none;
			position: absolute;
			background:  #439bfa;
			border: 1px solid #65b0fb;
			border-bottom: none;

			&.open {
				display: block;
			}


			li {
				border-bottom: 1px solid #65b0fb;

				a {
					color: #fff;
					font-size: 18px;
					line-height: 24px;
					padding: 8px 15px;
					display: inline-block;
					white-space: nowrap;
					text-decoration: none;
				}
			}
		}
	}

	.header-office {
		color: #fff;
		width: 251px;
		height: 152px;
		margin: 0 auto;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		padding-top: 45px;
		background: url("../img/rus_map.png") 50% 50% no-repeat;

		a {
			color: #fff;
			padding-bottom: 4px;
			display: inline-block;
			border-bottom: 1px solid #fff;
		}

		span {
			width: 100%;
			font-size: 20px;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 500px;
		background-position: 50% 60%;
		background-size: cover;

		.header-logo {
			width: 220px;
			margin: 0 auto;
		}

		.header-small-nav {
			top: 0;
			left: 15px;
			display: block;
			position: absolute;
		}

		.header-nav {
			top: 40px;
			left: 15px;
			float: none;
			position: absolute;

			.navbar-toggle {
				display: none;
			}

			.nav {
				top: auto;
				left: auto;
				display: block;
				position: relative;
				border: none;
				background: transparent;

				li {

					a {
						padding: 8px 0;
					}
				}
			}
		}

		.header-tel {
			top: 10px;
			right: 15px;
			float: none;
			font-size: 30px;
			line-height: 30px;
			position: absolute;
			display: inline-block;

			span {
				font-size: 24px;
				@include opacity(0.7);
			}
		}

		.header-office {
			top: 50px;
			right: 15px;
			font-size: 30px;
			line-height: 30px;
			position: absolute;
			text-align: right;

			span {
				font-size: 24px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		background-position: 50% 60%;
		background-size: auto auto;

		.header-tel {
			top: 10px;
			right: 15px;
			font-size: 40px;
			line-height: 40px;

			span {
				font-size: 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}


