.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	padding: 15px 15px;
	text-align: center;
	position: relative;
	background: #3c71d0;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(4px);
	@include gradient-vertical(#6992d9, #3c71d0);

	&:hover {
		color: #fff;
		background: #6992d9;
		text-decoration: none;
		@include gradient-vertical(#6992d9, #6992d9);
	}
}
