.table {
	font-size: 14px;
	line-height: 20px;

	tr {

		th {
			color: #fff;
			padding: 10px 5px;
			font-weight: 700;
			background: #4d7cd3;
			border-right: 1px solid #d2def4;

			&:last-child {
				border-right: none;
			}
		}

		td {
			color: #34434b;
			padding: 10px 5px;
			border-right: 1px solid #d2def4;

			&:last-child {
				border-right: none;
				text-align: center;
			}

		}

		&:nth-child(even) {

			td {
				background: #e6edf9;
			}
		}

		&:nth-child(odd) {

			td {
				background: #fff;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		font-size: 16px;
		line-height: 24px;

		tr {

			th {
				padding: 10px;
			}

			td {
				padding: 15px 10px;

				&:first-child {
					padding: 15px 20px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 18px;
		line-height: 30px;

		tr {

			td {
				padding: 20px 10px;

				&:first-child {
					padding: 20px 20px;
				}
			}
		}

	}

	@media (min-width: $screen-lg-min) {

	}
}

